*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 900px;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: rgb(84, 195, 247);
    margin: 20px;
    margin-top: 20px;
}
/* header */
h1{
    font-size: 50px;
    color: white;
    font-family: fantasy;
    text-align: center;
    margin-bottom: 20px;
}

.col{
    height: 190px;
    width: 180px;
    float: left;
    background-image: url(./img/pattern.png);
    background-size: contain;
    border-radius: 8px;
    margin: 15px;

}

.airbalon{
    background-color: white;
    background-image: url(./img/noun_air_balloon_3134741.png);
    background-size: contain;
    background-repeat: no-repeat;
}