*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 900px;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: rgb(84, 195, 247);
    margin: 20px;
    margin-top: 20px;
}
/* header */
h1{
    font-size: 50px;
    color: white;
    font-family: fantasy;
    text-align: center;
}

